<!DOCTYPE html>
<html lang="en" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head>
    <meta charset="UTF-8">
    <title>Navigation Bar</title>
    <link rel="stylesheet" href="/css/menu.css">
</head>
<body>

    <nav class="menu">
        <ul>
            <li><a th:href="@{/}">Начало</a></li>
            <li sec:authorize="isAuthenticated()"><a th:href="@{/home}">Профил</a></li>
            <li sec:authorize="hasAnyRole('ADMIN')"><a th:href="@{/products}">Елементи</a></li>
            <li sec:authorize="isAnonymous()"><a th:href="@{/login}">Вход</a></li>
            <li sec:authorize="isAuthenticated()">
                <form th:action="@{/logout}" method="post" style="display: inline;">
                    <button type="submit">Изход</button>
                </form>
            </li>
<!--            <li sec:authorize="isAuthenticated()"><a th:href="@{/logout}">Изход</a></li>-->
        </ul>
    </nav>

</body>
</html>