/* Контейнер за менюто */
.header-container {
    padding: 0.5em 1em;
    position: relative;
}

/* Основно меню - хоризонтално */
.menu ul {
    list-style: none;  /* махаме точките */
    display: flex;
    justify-content: flex-end;
    gap: 1.5em;
}

/* Линковете */
.menu ul li a {
    color: #3771c8ff;
    text-decoration: none;
    font-weight: 350;
    padding: 0.3em 0.6em;
    border-radius: 4px;
    transition: background-color 0.3s, color 0.3s;
}

.menu ul li a:hover,
.menu ul li a:focus {
    /*color: var(--white);*/
    /*background-color: var(--red-light);*/
    font-weight: 700;
}

/* Активна страница */
.menu ul li.home a {
    color: #3771c8ff;
    font-weight: 350;
    border-bottom: 2px solid royalblue;
}