.base-units{
    display: flex;
    flex-direction: column;
    align-items: stretch;
}
.base-units .menu{
    align-self: flex-end;
}
.base-units .menu ul {
    display: flex;
    justify-content: flex-end;
    list-style: none;
    padding: 0;
    margin: 0;
    box-shadow: 0 0.2em 0.5em #3771c8ff ;
}

.base-units .menu ul li {
    flex: 0 0 auto;
}

.base-units-table {
    width: 100%;
    padding-top: 2em;
}

.base-units-table caption {
    font-weight: lighter;
    font-style: italic;
    font-family: Impact, sans-serif;
    text-decoration: underline;
    font-size: x-large;
    color: #3771c8ff;
    /*border-bottom: 2px solid #3771c8ff;*/
    padding-bottom: 0.3em;
    margin-bottom: 1.5em;
    text-align: right;
}

table{
    width: 100%;
    border-collapse: collapse;
    margin-top: 1em;
}

tr{
    border-bottom: 1px solid #3771c8ff;
    padding: 0.5em;
}
