<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Product Configurator - Welcome</title>
    <link rel="stylesheet" href="/css/menu.css">
    <link rel="stylesheet" href="/css/home.css">
</head>
<body>
<div class="header-container">

    <th:block th:insert="~{fragments/nav :: nav}"></th:block>

</div>
<div class="front-container">
    <div class="user-container">
        <p th:text="'Активен потребител: ' + ${user.email}"></p>
    </div>
</div>

<div class="tabs">
    <div class="offers">
        <p>Offers HERE!</p>
    </div>

    <div class="configurations">
        <p>Configurations HERE!</p>
    </div>

    <div class="units">
        <p>Units HERE!</p>
    </div>
</div>


</body>
</html>