<!DOCTYPE html>
<html lang="bg" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6" >
<head>
    <meta charset="UTF-8">
    <title>Продуктов конфигуратор</title>
    <link rel="stylesheet" href="/css/index.css">
    <link rel="stylesheet" href="/css/menu.css">
</head>
<body>

<div class="header-container">

    <th:block th:insert="~{fragments/nav :: nav}"></th:block>

</div>

<div class="front-container">

    <img src="/images/front_ready.png" alt="Продуктов конфигуратор">

</div>

</body>
</html>