<!DOCTYPE html>
<html lang="bg">
<head>
    <meta charset="UTF-8">
    <title>Продуктов конфигуратор</title>
    <link rel="stylesheet" href="/css/index.css">
    <link rel="stylesheet" href="/css/menu.css">
</head>
<body>

<div class="header-container">
    <nav class="menu">
        <ul>
            <li><a th:href="@{/}"> Начало</a></li>
            <li><a th:fref="@{/home}">Профил</a></li>
            <li>Вход</li>
            <li>Изход</li>
        </ul>
    </nav>
</div>

<div class="front-container">

    <img src="/images/front_ready.png" alt="Продуктов конфигуратор">

</div>

</body>
</html>