<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Създаване на нов базов продукт</title>
    <link rel="stylesheet" href="/css/menu.css">
    <link rel="stylesheet" href="/css/login.css">
</head>
<body>

<div class="header-container">

    <th:block th:insert="~{fragments/nav :: nav}"></th:block>

</div>

<div class="form">
    <form th:action="@{/base-products/create}" th:method="POST" th:object="${createNewUnitRequest}">
        <h3>Нов базов продукт</h3>

        <div class="field">
            <label for="imageUrl">Снимка</label>
            <input type="text" id="imageUrl" th:field="*{imageUrl}" placeholder="">
            <span class="errors" th:if="${#fields.hasErrors('imageUrl')}" th:errors="*{imageUrl}"></span>
        </div>

        <div class="field">
            <label for="code">Код</label>
            <input type="text" id="code" th:field="*{code}" placeholder="">
            <span class="errors" th:if="${#fields.hasErrors('code')}" th:errors="*{code}"></span>
        </div>

    </form>
    </div>
</body>
</html>