<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Създаване на нов базов продукт</title>
    <link rel="stylesheet" href="/css/menu.css">
    <link rel="stylesheet" href="/css/login.css">
</head>
<body>

<div class="header-container">

    <th:block th:insert="~{fragments/nav :: nav}"></th:block>

</div>

<div class="form">
    <form th:action="@{/products/unit-options/new}" th:method="POST" th:object="${createNewOptionRequest}">
        <h3>Нова продуктова опция</h3>

        <div class="field">
            <label for="code">Код</label>
            <input type="text" id="code" th:field="*{code}" placeholder="">
            <span class="errors" th:if="${#fields.hasErrors('code')}" th:errors="*{code}"></span>
        </div>

        <div class="field">
            <label for="name">Наименование</label>
            <input type="text" id="name" th:field="*{name}" placeholder="">
            <span class="errors" th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></span>
        </div>

        <div class="field">
            <label for="description">Описание</label>
            <textarea id="description" th:field="*{description}" placeholder=""></textarea>
            <span class="errors" th:if="${#fields.hasErrors('description')}" th:errors="*{description}"></span>
        </div>

        <div class="field">
            <label for="compatibleWith">Съвместимост:</label>
            <select id="compatibleWith" name="compatibleWith" required>
                <option value="">-- Изберете --</option>
                <option th:each="option : ${T(lmc.option.model.SupportedBy).values()}"
                        th:value="${option}"
                        th:text="${option}">
                </option>
            </select>
        </div>

        <div class="field">
            <label for="price">Цена(EUR)</label>
            <input type="number"
                   id="price"
                   th:field="*{price}"
                   step="0.01"
                   min="0"
                   placeholder="0.00">
            <span class="errors" th:if="${#fields.hasErrors('price')}" th:errors="*{price}"></span>
        </div>

        <input type="submit" class="button" value="Създай">


    </form>
</div>
</body>
</html>