<!DOCTYPE html>
<html lang="bg" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head>
    <meta charset="UTF-8">
    <title>Промяна на парола</title>
    <link rel="stylesheet" href="/css/menu.css">
    <link rel="stylesheet" href="/css/login.css">
</head>
<body>
<div class="header-container">

    <th:block th:insert="~{fragments/nav :: nav}"></th:block>

</div>

<div class="form">
    <form class="login" th:action="@{/users/change-password}" th:method="POST" th:object="${newPasswordRequest}">
<!--        <div th:if="${successMessage}" class="alert-info">-->
<!--            <p th:text="${successMessage}"></p>-->
<!--        </div>-->
        <h2>Смяна на паролата</h2>
        <span class="separator"></span>

        <div class="field">
            <label for="field-password">Парола</label>
            <input type="password" name="password" id="field-password" placeholder="Password" th:field="*{password}">
            <span class="helper info">паролата трябва да бъде между 6 и 20 символа</span>
            <p></p>
            <span th:if="${errorMessage}" th:text="${errorMessage}" class="credentials-error"></span>
        </div>

        <div class="field">
            <label for="field-confirmPassword">Парола</label>
            <input type="password" name="confirmPassword" id="field-confirmPassword" placeholder="Password" th:field="*{confirmPassword}">
            <span class="helper info">паролата трябва да бъде между 6 и 20 символа</span>
            <p></p>
            <span th:if="${errorMessage}" th:text="${errorMessage}" class="credentials-error"></span>
        </div>

        <div id="loading-message" style="display:none; color: red; text-align: center; margin-bottom: 0.5em;">
            Моля, изчакайте...... <br>Проверяваме на въведената парола!
        </div>
        <input type="submit" class="button login" value="Вход">
    </form>
</div>
<script>
    document.addEventListener('DOMContentLoaded', function() {
        const form = document.querySelector('form.login');
        const loadingMsg = document.getElementById('loading-message');
        const submitBtn = form.querySelector('input[type="submit"]');
        if (form && loadingMsg && submitBtn) {
            form.addEventListener('submit', function() {
                loadingMsg.style.display = 'block';
                submitBtn.style.display = 'none';
            });
        }
    });
</script>
</body>
</html>