<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Елементи</title>
    <link rel="stylesheet" href="/css/menu.css">
    <link rel="stylesheet" href="/css/home.css">
    <link rel="stylesheet" href="/css/units.css">
</head>
<body>
<div class="header-container">

    <th:block th:insert="~{fragments/nav :: nav}"></th:block>

</div>
<div class="front-container">
    <div class="user-container">
        <p th:text="'Активен потребител: ' + ${user.email}"></p>
    </div>
</div>

<div class="tabs">
    <div class="base-units">
        <div class="menu">
            <ul>
                <li><a th:href="@{/products/base-units/new}">Добави продукт</a></li>
            </ul>

        </div>
        <div class="search-box">
            <input type="text" id="searchBaseUnits" placeholder="Търси базов продукт...">
        </div>
        <div class="base-units-table">

            <table>
                <caption>Базови продукти</caption>
                <thead>

                <tr>
                    <th>Код</th>
                    <th>Наименование</th>
                    <th>Базова цена</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="unit : ${baseUnits}">
                    <td th:text="${unit.code}"></td>
                    <td>
                        <div th:text="${unit.name}"></div>
                        <div class="desc">
                        <span th:text="${unit.description}"></span>
                            <span>,</span>
                        <span th:text="'размер: '+ ${unit.size}">размер:</span>
                        </div>
                    </td>
                    <td th:text="${unit.price} + ' лв.'"></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div class="unit-options">
        <div class="menu">
            <ul>
                <li><a th:href="@{/products/unit-options/new}">Добави опция</a></li>
            </ul>

        </div>
        <div class="search-box">
            <input type="text" id="searchUnitOptions" placeholder="Търси в Опции...">
        </div>
        <div class="unit-options-table">

            <table>
                <caption>Опции</caption>
                <thead>

                <tr>
                    <th>Код</th>
                    <th>Наименование</th>
                    <th>Базова цена</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="option : ${unitOptions}">
                    <td th:text="${option.code}"></td>
                    <td>
                        <div th:text="${option.name}"></div>
                        <div class="desc">
                            <span th:text="${option.description}"></span>
                            <span>,</span>
                            <span th:text="${option.compatibleWith}"></span>
                        </div>
                    </td>
                    <td th:text="${option.price} + ' лв.'"></td>
                </tr>
                </tbody>
            </table>
        </div>
        </div>


</div>

<script>
    // Търсачка за базови продукти
    document.getElementById('searchBaseUnits').addEventListener('keyup', function() {
        const searchValue = this.value.toLowerCase();
        const rows = document.querySelectorAll('.base-units-table tbody tr');

        rows.forEach(row => {
            const code = row.cells[0].textContent.toLowerCase();
            const name = row.cells[1].textContent.toLowerCase();
            const price = row.cells[2].textContent.toLowerCase();

            if (code.includes(searchValue) || name.includes(searchValue) || price.includes(searchValue)) {
                row.style.display = '';
            } else {
                row.style.display = 'none';
            }
        });
    });

    // Търсачка за конфигурирани продукти
    document.getElementById('searchUnitOptions').addEventListener('keyup', function() {
        const searchValue = this.value.toLowerCase();
        const rows = document.querySelectorAll('.unit-options-table tbody tr'); // Използвайте правилния клас/селектор

        rows.forEach(row => {
            const code = row.cells[0].textContent.toLowerCase();
            const name = row.cells[1].textContent.toLowerCase();
            // Добавете други колони по необходимост

            if (code.includes(searchValue) || name.includes(searchValue)) {
                row.style.display = '';
            } else {
                row.style.display = 'none';
            }
        });
    });

</script>

</body>
</html>